<!DOCTYPE html>
<html>
  <head>
    <title>CertCRM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Yantramanav:400,500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
